@model List<Model.CommentDTO>
@{
    ViewBag.Title = "CommentList";
    Layout = "~/Views/Shared/Main.cshtml";
}
<script src="~/Scripts/ShowingOrder/ShowingOrder.js"></script>
<script type="text/javascript">
    $(function() {
        $("#commShowUser").click(function () {
            AlertDiv('#alert_pinglun');
            $("#txtCommentId").val('@ViewBag.RootCommId');
        });
    });
   
</script>
<div class="mainM">
    <div class="commentP white_bg">
        <div class="commentPT pf white_bg">
            <a class="fl hover">评论 @ViewBag.CommNum</a>
            <a class="fr">羡慕 @ViewBag.SuppNum</a>
        </div>
        <div class="commentPM">
            <ul>
                @{
                    foreach (var comment in Model)
                    {

                        <li class="pr">
                            <a href="Homepage_F.html" class="fl">
                            <img src="@comment.UserImage" class="fl"/></a>
                                <p class="oh"><span class="fl">@comment.Commenter</span></p>
                                <p class="oh"><span class="fl gray9">@comment.CommentDate</span></p>
                            @*<a class="pa br2" href="#" name="showReply" id="@comment.CommentID" tagCommref="@comment.CommentID" tagPeriod="@comment.PeriodID">回复</a>*@
                            <a class="block" name="showReply"  id="@comment.CommentID" tagCommref="@comment.CommentID" tagPeriod="@comment.PeriodID">
                                @{
                                    if (comment.CommentRefID == @ViewBag.RootCommId)
                                    {
                                        <b class="fn block">@comment.CommentContent</b>
                                    }
                                    else
                                    {
                                        <b class="fn block">回复 @comment.CommentRefer: @comment.CommentContent</b>
                                    }
                                }
                                </a>
</li>


                    }
                }

            </ul>
        </div>
        <div class="commentB oh padding_b10 pf white_bg">
            <a class="fl" id="commShowUser" tagPeriod="@ViewBag.PeriodId">
                <i class="liaotian_s block icon_s fl "></i>
                <p class="fl">评论 @ViewBag.CommNum</p>
            </a>
            <a class="fl">
                <i class="dianzan_s block icon_s fl "></i>
                <p class="fl">羡慕 @ViewBag.SuppNum</p>
            </a>
        </div>
    </div>
</div>
<div style="display: none" id="divReply">
    <label>回复内容</label> <input type="text"  value=""/><input type="button"  value="回复"/>
   
</div>

<div class="alert" id="alert_pinglun">
    <input type="hidden" value="@ViewBag.RootCommId" id="txtCommentId" />
    <div class="alertCT oh">
        <p class="fl f16">评论</p>
        <i class="icon alert_close fr wrong" onclick="AlertClose(this)"></i>
    </div>
    <div class="alertCB">
        <div class="mainM commentX">
            <textarea class="Ntext" id="replyContent"></textarea>
            <input type="hidden" value="不得超过140个字" />
        </div>
    </div>
    <div class="alertCM">
        <a class="fr orange_bg br2 f16 tc" id="btnReply" href="#">确认</a>
        <a class="fr br2 tc" onclick="AlertClose(this)">取消</a>
    </div>

</div>