
@using Model
@model List<Model.T_Share_Get>
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>爱虾投</title>
    <meta content="" name="Keywords">
    <meta content="" name="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta content=”yes” name=”apple-mobile-web-app-capable” /> <!--允许全屏模式浏览-->
    <meta content=”black” name=”apple-mobile-web-app-status-bar-style” /><!--iphone中safari顶端的状条的样式-->
    <meta content=”telephone =no” name=”format-detection” /><!--忽略将页面中的数字识别为电话号码-->

    <link href="~/Content/css/Animate.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/Layout.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/Common/touchwipe.js"></script>
    <script type="text/javascript" src="~/Scripts/Common/common.js"></script>

    <script type="text/javascript" src="~/Scripts/MainFrame/MainFrame.js"></script>

    <link href="" rel="stylesheet" type="text/css" id="mediaWidth" />
    <script>
        var sUserAgent = navigator.userAgent;
        if (sUserAgent.indexOf('Android') > -1 || sUserAgent.indexOf('iPhone') > -1 || sUserAgent.indexOf('iPad') > -1 || sUserAgent.indexOf('iPod') > -1 || sUserAgent.indexOf('Symbian') > -1) {
            document.write('<link href="css/page320.css" rel="stylesheet" type="text/css"/>');
        }
    </script>
    <script type="text/javascript">

    $(function() {

        
    });


    </script>
</head>
<body class="present_share">
    @{
        var UserShare = (T_User_Share)@ViewBag.UserShare;
    }
    <div class="main0">
        <div class="mainM">

            <div class="share01">
                <div class="share01T">
                    <p>我在爱虾头买了一张30元话费充值卡，现在送给10位小伙伴抽奖，抽中即可领取！</p>
                </div>
                <div class="share01B oh">
                    <img src="@ViewBag.UserInfo.PhotoPath" class="br20 fl gray3_border1" />
                    <p class="tc fl f14">@ViewBag.UserInfo.UserName</p>
                </div>

            </div>

            @if (!string.IsNullOrEmpty(UserShare.Winner))
            {
                <div class="orderBM margin_t15 margin_b20 oh">
                    <div class="orderBMR fr">
                        <img src="@UserShare.WinPhoto" class="br20 gray3_border1" />
                        <p class="tc oh">@UserShare.Winner</p>
                    </div>
                    <div class="orderBML fr">
                        <p class="f12 br4">好开心啦，居然中奖了！！！</p>
                    </div>
                </div>
            }
            else
            {
                //if (UserShare.PeopleNum != UserShare.RevPeopleNum|| @ViewBag.SCode!="")
                //{
                    <div class="orderBB margin_t15 margin_b20 white_bg br4">
                        <h1 class="tc red padding_b10 padding_t10">已抢到虾仔：@ViewBag.SCode</h1>
                    </div>
                @*}
                else
                {
                    <div class="orderBB margin_t15 margin_b20 white_bg br4">
                        <h1 class="tc red padding_b10 padding_t10">抽奖机会领完了！</h1>
                    </div>
                }*@
            }


            <div class="detail white_bg br4">
                <div class="detailT">
                    <a class="oh icon_H"><i class="gift_s fl  icon_s margin_r5"></i><span class="fl lh20 f14">看谁领了</span></a>
                </div>
                <div class="detailM">
                    <div class="record">
                        <ul>
                            @foreach (var getDto in Model)
                            {
                                <li class="pr">
                                    <img src="@getDto.PhotoPath" class="fl" />
                                    <p class="oh"><span class="fl">@getDto.UserName</span><span class="fr">虾仔：@getDto.LotNum</span></p>
                                    <p class="gray9">@getDto.RevTime</p>
                                </li>
                            }


                        </ul>
                    </div>
                </div>
            </div>

        </div>



    </div>




</body>
</html>
