
@model Model.ProductModel
    @{
        Layout = null;
    }
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>爱虾投</title>
    <meta content="" name="Keywords" />
    <meta content="" name="Description" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <!--允许全屏模式浏览-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <!--iphone中safari顶端的状条的样式-->
    @*<meta content="telephone=no" name="format-detection" />*@
    <!--忽略将页面中的数字识别为电话号码-->

    <link href="~/Content/css/Animate.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/Layout.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/Common/touchwipe.js"></script>
    <script type="text/javascript" src="~/Scripts/Common/common.js"></script>
    
    <script type="text/javascript" src="~/Scripts/MainFrame/MainFrame.js"></script>

    <link href="" rel="stylesheet" type="text/css" id="mediaWidth"/>
    <script type="text/javascript">
        $(function() {
            CheckMenu();
        });
        function CheckMenu() {
            var a_H = $("#shrimp");
            if (!a_H.hasClass("icon_H")) {
                a_H.siblings().removeClass("icon_H");
                a_H.addClass("icon_H");
                SetCookie("footerBtn", a_H.prop("id"));

            }
        }
    </script>
</head>
<body class="blueF_bg">

    <div class="main">
        <div class="mainM">

            <div class="order_submit_share">
                <div class="order_submit_shareT oh margin_b20">
                    <img src="/Content/images/pay.png" width="50" class="fl" />
                    <h3 class="fl f16">支付成功，请耐心等待开奖！</h3>
                </div>
                <div class="order_submit_shareM white_bg">
                    <div class="index_ML" style="margin-right: 0;">
                        <h3 class="grayC_bg">
                            <b class="orange_bg block" style="width: @(decimal.Round(Model.JoinedNum*100/Model.ProductPrice, 0))%;"></b>
                        </h3>

                        <p class="oh">
                            <span class="fl"><b class="red fn block">@Model.JoinedNum</b><i class=" grayC block">已参与</i></span>
                            <span class="fl tc"><b class="red fn block">@Model.ProductPrice</b><i class="grayC block">总需人次</i></span>
                            <span class="fl tr"><b class="red fn block">@(Model.ProductPrice - Model.JoinedNum)</b><i class="grayC block">剩余</i></span>
                        </p>
                    </div>
                    <h2 class="f12 fn tc margin_t10">还剩 @(Model.ProductPrice - Model.JoinedNum) 人次才能开奖，邀请小伙伴一起抢吧！</h2>
                </div>

            </div>
            <img src="/Content/images/share_img08.png" style="width: 100%; margin-top: 40px;" />
        </div>



      
</div>
    @RenderPage("~/Views/Shared/_Footer.cshtml")
</body>
</html>


