@using Model
@model Model.ProductModel
@{
    Layout = "../Shared/Main.cshtml";
}

<script type="text/javascript">
    $(function() {
        $("#joined").click(function() {
            window.location.href = "/Product/SubmitOrder?periodId=@Model.PeriodId" + "&userId=" + getCookie("UserId");
        });

        $("#shareFriends").click(function() {
            window.location.href = "/Product/SubmitOrderS?periodId=@Model.PeriodId" + "&userId=" + getCookie("UserId");
        });
    });
</script>
<div class="mainM">
    <div class="detailX white_bg">
        <div class="detailXT">
            <img src="~/Uploads/ProductPhotos/20151209/img02.jpg"/>

        </div>
        <div class="detailXM">
            <h1 class="lh30 f20">Apple Watch</h1>
            <h2 class="lh25 fn f14">抢购价：@Model.ProductPrice 元<span class="grayC"> 价值：2899元</span></h2>
            <div class="index_ML">
                <h3 class="grayC_bg"><b class="orange_bg block" style="width: @(decimal.Round(Model.JoinedNum*100/Model.ProductPrice, 0))%;"></b>
                </h3>
                <p class="oh">
                    <span class="fl"><b class="red fn block">@Model.JoinedNum</b><i class=" grayC block">已参与</i></span>
                    <span class="fl tc"><b class="red fn block">@Model.ProductPrice</b><i class="grayC block">总需人次</i></span>
                    <span class="fl tr"><b class="red fn block">@(Model.ProductPrice - Model.JoinedNum)</b><i class="grayC block">剩余</i></span>
                </p>
            </div>
        </div>
        <div class="detailXB oh">
            <p class="oh">
                <span class="fl"><i class="right_s  icon_s fl"></i><b class="fl fn">公平公正</b></span>
                <span class="fl"><i class="right_s  icon_s fl"></i><b class="fl fn">正品保障</b></span>
                <span class="fl"><i class="right_s  icon_s fl"></i><b class="fl fn">全国免费送</b></span>
            </p>
            @{
                var lstPeriod = ViewBag.Periods;
                for (int i = 0; i < lstPeriod.Count; i++)
                {
                    if (i == 0)
                    {
                        <a class="orange_bg gray3_border1 h20 lh20 br4 fl">@lstPeriod[i].PeriodNum 进行中</a>
                    }
                    else
                    {
                        <a class=" gray3_border1 h20 lh20 br4 fl">@lstPeriod[i].PeriodNum 已开奖</a>
                    }


                }
            }

            <a href="/Product/ShrimpHeadOf?productId=@Model.ProductId" class="pa arrow_s  icon_s"></a>
        </div>
    </div>
    <div class="detail grayC_border white_bg margin_t10">
        <div class="detailT">
            <a href="/Product/BuyRecords?periodId=@Model.PeriodId" class="oh"><span class="fl lh20 f14">抢购记录（@ViewBag.Orders.Count）</span><i class="arrow_s fr  icon_s"></i></a>
        </div>
        <div class="detailM">
            <div class="record">
                <ul>
                    @{
                        var lstOrder = ((List<UserOrderDTO>)@ViewBag.Orders ).Take(3);
                    }
                    @foreach (var order in lstOrder)
                    {
                        <li>
                            <img src="@order.PhotoPath" class="fl"/>
                            <p class="oh"><span class="fl">@order.UserName</span><span class="fr">  @order.City</span></p>
                            <p class="oh"><span class="fl gray9">@order.CreateTime</span><span class="fr grayC"> </span></p>
                        </li>
                    }


                    
                </ul>
            </div>
        </div>
    </div>
    <div class="detail grayC_border white_bg">
        <div class="detailT">
            <a href="/Product/GiftsRecords?periodId=@Model.PeriodId" class="oh"><span class="fl lh20 f14">赠送记录（@ViewBag.Donater.Count）</span><i class="arrow_s fr  icon_s"></i></a>
        </div>
        <div class="detailM">
            <div class="record">
                <ul>
                    @{
                        var lstDonate = ((List<DonateModel>)@ViewBag.Donater).Take(3);
                    }
                    @foreach (var donate in lstDonate)
                    {
                        <li>
                            <img src="@donate.PhotoPath" class="fl" />
                            <p class="oh"><span class="fl">@donate.UserName</span><span class="fr"> @donate.City</span></p>
                            <p class="oh"><span class="fl gray9">@donate.CreateTime</span><span class="fr grayC"> </span></p>
                        </li>
                    }
                   
                </ul>
            </div>
        </div>
    </div>
    <div class="detail grayC_border white_bg">
        <div class="detailT">
            <a href="http://www.apple.com/hk/watch/" class="oh"><span class="fl lh20 f14">查看礼品介绍</span><i class="arrow_s fr  icon_s"></i></a>
        </div>
    </div>
    <div class="detail grayC_border white_bg">
        <div class="detailT">
            <a class="oh"><i class="wenhao_s fl  icon_s margin_r5"></i><span class="fl lh20 f14">怎么玩儿</span></a>
        </div>
        <div class="detailM">
            <img src="~/Content/images/play.png" style="width:100%; margin-bottom:10px;" />
           
        </div>
    </div>
    <div class="detail grayC_border white_bg">
        <div class="detailT">
            <a class="oh"><i class="paper_s fl  icon_s margin_r5"></i><span class="fl lh20 f14">购买须知</span></a>
        </div>
        <div class="detailM">
            <div class="rule">
                <p>1. 购买该理财产品即可获得四位数字的虾仔。</p>
                <p>2. 投资名额抢完后，当天将把全部虾仔发送至投资人预留邮箱。</p>
                <p>3. 赠送礼品将在确定幸运号码之后直接发货，用户资金将在理财产品到期后返还到虾投账号。</p>
            </div>
        </div>
    </div>
    <div class="detail grayC_border white_bg">
        <div class="detailT">
            <a class="oh"><i class="jisuanqi_s fl  icon_s margin_r5"></i><span class="fl lh20 f14">幸运虾计算规则</span></a>
        </div>
        <div class="detailM">
            <div class="rule">
                <p>1. 投资名额抢完后（当天不计入内），第二天起最新一期的双色球开奖号码，如（12、25、30、32、16、09、11），幸运虾仔即取每对数字的尾数，如（2502691）。</p>
                <p>2. 如无此号码则取最近号码，如距离一样则取较大号码为幸运号码。</p>
            </div>
        </div>
    </div>
    <div class="detail grayC_border white_bg">
        <div class="detailT">
            <a href="/Product/ShowHisOrder?productId=@Model.ProductId" class="oh"><i class="shaidan_s fl  icon_s margin_r5"></i><span class="fl lh20 f14">往期晒单</span><i class="arrow_s fr  icon_s"></i></a>
        </div>

        <div class="comment">
            <ul>
                @{
                    var lstShowOrder = ((List<ShowOrderModel>)@ViewBag.ShowOrder).Take(1);
                }
                @foreach (var order in lstShowOrder)
                {
                    <li>
                        <div class='commentT'>
                            <img src='@order.UserImage' class='fl'/>
                            <p class='oh'><span class='fl'> @order.UserName </span><span class='fr'> </span></p>
                            <p class='oh'><span class='fl red'> @order.ProductName   @order.PeriodNum </span><span class='fr gray9'>@order.CommentDate  </span></p>
                        </div>

                        <div class='commentM oh'>
                            <p class='block'> @order.CommentContent </p>
                            @foreach (var photo in order.Photos)
                            {
                                var imgPath = @ViewBag.UploadPath + @photo.PhotoPath;

                                <a class='fl'><img src=@imgPath ></a>
                            }

                        </div>
                        <div class='commentB oh'>
                            <a class='fl' href='/ShowOrder/CommentList?periodId=@order.PeriodID'>
                                <i class='liaotian_s block icon_s fl '></i>
                                评论
                                <p class='fl'> @order.CommentNum </p>
                            </a>
                            <a class='fl' href="#">
                                <i class='dianzan_s block icon_s fl ' id="@order.PeriodID"></i>
                                <p class='fl'>羡慕</p>
                                <p class='fl'> @order.SupportNum </p>
                            </a>
                        </div>
                    </li>

                }
                

            </ul>
        </div>

    </div>
   </div>
<div class="pf pay white_bg">
    <i class="collection_s_H  icon_s fl"></i>
    <a href="#" class="red_bg white tc fr f16" id="joined">参与夺宝</a>
    <a href="#" class="orange_bg tc fr f16" id="shareFriends" >送给朋友</a>

</div>