@model List<Model.ProductModel>
@{
    ViewBag.Title = "ShrimpHeadOf";
    Layout = "~/Views/Shared/Main.cshtml";
}
<div class="mainM">
    <div class="index">
        <ul>
            @foreach (var period in Model)
            {
                <li>
                    <div class="index_T">
                        <a class="pa collection_s  icon_s margin_t5"></a>
                        <a href="#" class="block oh">
                            <img src="~/Uploads/ProductPhotos/20151209/img02.jpg" class="fr br4" />
                            <p class="oh">
                                <b class="f16 lh30 h30 block fn oh">苹果IWATCH</b>
                                <span class="f14 lh25 block gray6 oh "><em class="fl fsn">价值：@period.ProductPrice 元</em></span>
                                @if (string.IsNullOrEmpty(period.ProLotteryNum))
                                {
                                    <span class="f12 lh25 block gray6 oh"><em class="fl fsn red">@period.PeriodNum 进行中，中奖人：@period.UserName</em></span>
                                }
                                else
                                {
                                    <span class="f12 lh25 block gray6 oh"><em class="fl fsn red">@period.PeriodNum 已结束，中奖人：@period.UserName</em></span>
                                }

                            </p>

                        </a>
                    </div>
                    <div class="index_M">
                        <div class="index_MR fr">
                            <a href="#" class="red_bg white block br4 lh30 tc f14 margin_t5">幸运 @period.ProLotteryNum</a>
                        </div>
                        <div class="index_ML">
                            <h3 class="grayC_bg">
                                <b class="orange_bg block" style="width: 40%;"></b>
                            </h3>

                            <p class="oh">
                                <span class="fl"><b class="red fn block">@period.JoinedNum</b><i class=" grayC block">已参与</i></span>
                                <span class="fl tc"><b class="red fn block">@period.ProductPrice</b><i class="grayC block">总需人次</i></span>
                                <span class="fl tr"><b class="red fn block">@(period.ProductPrice - period.JoinedNum)</b><i class="grayC block">剩余</i></span>
                            </p>
                        </div>
                    </div>
                    @*<div class="index_B tc oh">
                            <span class="fl"><i class="gray6">冻结虾米 </i><b class="red fn f14">1000只</b></span>
                            <span class="fl"><i class="gray6">冻结时间 </i><b class="red fn f14">30天</b></span>
                            <span class="fl"><i class="gray6">获赠虾米 </i><b class="red fn f14">5只</b></span>
                        </div>*@
                </li>
            }
            


        </ul>
    </div>
</div>




@RenderPage("~/Views/Shared/_Footer.cshtml")