
@{
    Layout = "../Shared/Main.cshtml";
}
@using Model
@model Model.ProductModel

<script type="text/javascript">
    $(function () {
        var openId = getCookie("OpenId");
        //获取用户信息
        //alert(openId);
        //$("#PayUser").text(getCookie("UserName"));

        $("#probability").text(Math.round(@(1 / Model.ProductPrice * 100)) + " %概率");

        $("a[name='turnPropbality']").click(function () {
            var num = Math.round($("#portionNum").val());
            var perProp = Math.round( @(1/Model.ProductPrice*100));
            if ($(this).hasClass("minus_s")) {
                if (num > 1) {
                    $("#portionNum").val(num - 1);
                    $("#probability").text(perProp * $("#portionNum").val() + " %概率");
                    $("#needPay").text($("#portionNum").val());
                } else {
                    $("#portionNum").val(0);
                    $("#probability").text(0 + " %概率");
                }
            } else if ($(this).hasClass("plus_s")) {
                $("#portionNum").val(num + 1);
                $("#probability").text(perProp * $("#portionNum").val() + " %概率");
            }
            $("#needPay").text($("#portionNum").val());
        });

        //提交订单操作
        $("#submitOrder").click(function () {

            var lotterys = $("#txtLotterys").val();
            var tel = $("#txtPhone").val();
            var email = $("#txtMail").val();
            //window.location.href = "/Product/PayOrder?lottery=" + lotterys + "&phone=" + tel + "&email=" + email;
            $.ajax({
                url: "/Product/AddOrder",
                type:"POST",
                data: { lottery: lotterys, phone: tel, email: email, periodId: '@Model.PeriodId', userName: getCookie("UserName"), addr: "123", userId: getCookie("UserId") },
                //data:{payFee:$("#needPay").val(),userOpenId:getCookie("OpenId")},
                success:function(data) {
                    if (data["Succeeded"]) {
                        window.location.href = "/Product/PayOrder?lottery=" + lotterys + "&phone=" + tel + "&email=" + email + "&needPay=" + $("#needPay").text() + "&userOpenId=" + getCookie("OpenId") + "&orderId=" + data["ResultId"];
                    }
                }
            });
        });


        $("#btnGenerate").click(function() {
            $.ajax({
                url: "/Product/GetShrimpCode",
                type: "POST",
                data: { periodId: '@Model.PeriodId', codeNum: $("#portionNum").val() },
                success:function(datas) {
                    $("#txtLotterys").val(datas);
                }
            });
        });

        //使用余额支付
        $("#useYE").change(function () {
            var ded=Math.round('@ViewBag.UserInfo.AccountBalance');
            var totalPay = Math.round($("#portionNum").val());
            if ($("#useYE").prop("checked")) {
                if (ded >= totalPay) {
                    $("#deduction").text(totalPay);
                    $("#needPay").text(0);
                } else {
                    $("#deduction").text(ded);
                    $("#needPay").text(totalPay - ded);
                }

            } else {
                $("#deduction").text(0);
                $("#needPay").text(totalPay);
            }
        });

    });

    
</script>
<div class="mainM">

    <div class="index">
        <ul>
            <li style="margin-bottom:0;">
                <div class="index_T">
                    <a class="pa collection_s  icon_s margin_t5"></a>
                    <a class="block oh">
                        <img src="~/Uploads/CommentPhotos/20151209/img01.jpg" class="fr br4" />
                        <p class="oh">
                            <b class="f18 lh30 h30 block fn oh" id="proName">@Model.ProductName</b>
                            <span class="f14 lh25 block gray6 oh "><em class="fl fsn" id="proPrice">价值：@Model.ProductPrice 元</em></span>
                            <span class="f12 lh25 block gray6 oh"><em class="fl fsn" id="proDesc">@Model.ProductDesc</em></span>
                        </p>

                    </a>
                </div>

            </li>
        </ul>
    </div>
    <div class="order_submit">
        <p class="h20 lh20 gray9">*一只虾仔，成就更多可能！</p>
        <ul>
            <li class="white_bg oh f14">
                <span class="fl margin_r10"> 份数</span>
                <a class="minus_s fl icon_s margin_t5 margin_l5" href="#" name="turnPropbality"></a>
                <input type="text" class="fl h20 lh20 tc" value="1" id="portionNum" />
                <a class="plus_s fl icon_s margin_t5" href="#" name="turnPropbality"></a>
                <span class="fr red" id="probability"></span>
            </li>
            <li class="white_bg">
                <a class="button orange_bg tc fr gray3_border br4 pa" id="btnGenerate">随机生成</a>
                <input type="text" class="block Ntext h30 lh30" id="txtLotterys" /><input type="hidden" value="虾仔，四位数字" />
            </li>
            <li class="white_bg"><input type="text" class="block Ntext h30 lh30" id="txtMail" /><input type="hidden" value="联系邮箱，将用于接收项目全部虾仔" /></li>
            <li class="white_bg"><input type="text" class="block Ntext h30 lh30" id="txtPhone" /><input type="hidden" value="推荐人手机号（选填）" /></li>
            <li class="white_bg oh f14">
                <span class="fl f16">账户余额可支付 @ViewBag.UserInfo.AccountBalance 只</span>
                <input type="checkbox" class="fr h20 lh20 tc" id="useYE"/>
            </li>
        </ul>
        <p class="h20 lh20 red"> </p>
    </div>

    <div class="addressB">
        <ul>
            <li class="white_bg">
                <a href="Shipping_address_edit.html" class="block">
                    <i class="pen_s icon_s pa margin_t15"></i>
                    <p class="oh lh25">
                        <b class="fl f16" id="PayUser">@ViewBag.UserInfo.UserName</b><i class="fr f14">@ViewBag.UserInfo.Cellphone</i>
                    </p>
                    @{
                        var addrs = (List<T_UserAddr>)ViewBag.Addrs;
                        if (addrs.Count > 0)
                        {
                            <p class="lh20 gray9">@addrs[0].AddressDesc</p>
                        }
                        else
                        {
                            <p class="lh20 gray9"></p>
                        }
                    }

                </a>
            </li>
        </ul>

    </div>
    <div class="addressT white_bg">
        <a class="oh block" onclick="AlertDiv('#alert_address')"><i class="plus_s fl icon_s margin_r10"></i><span class="fl f14 lh20">收货地址(选填)</span></a>
    </div>
    <div class="pf pay white_bg">
        已抵扣￥<p class="fl gray9 f12" id="deduction">0</p>
        <a class="orange_bg tc fr f16" id="submitOrder">提交订单</a>
        <p class="fr f18 red" id="needPay">1</p>
        <p class="fr gray6 f14">待支付￥</p>
    </div>
</div>

<div class="alert" id="alert_address">

    <div class="alertCT oh">
        <p class="fl f16">选择地址</p>
        <i class="icon alert_close fr wrong" onclick="AlertClose(this)"></i>
    </div>
    <div class="alertCB">
        <div class="address">
            <div class="addressT white_bg">
                <a href="Shipping_address_edit.html" class="oh block"><i class="plus_s fl icon_s margin_r10"></i><span class="fl f16 lh20">新增地址</span></a>
            </div>
            <div class="addressB">
                <ul>
                    <li class="white_bg">
                        <input type="checkbox" class="fl" />
                        <a href="Shipping_address_edit.html" class="block">
                            <i class="pen_s icon_s pa margin_t15"></i>
                            <p class="oh lh25"><b class="fl f16">余小卡</b><i class="fr f14">15002089654</i></p>
                            <p class="lh20 gray9">广东省深圳市南山区科苑北18号科兴科学园B2单元1702号</p>
                        </a>
                    </li>
                    <li class="white_bg">
                        <input type="checkbox" class="fl" />
                        <a href="Shipping_address_edit.html" class="block">
                            <i class="pen_s icon_s pa margin_t15"></i>
                            <p class="oh lh25"><b class="fl f16">余小卡</b><i class="fr f14">15002089654</i></p>
                            <p class="lh20 gray9">广东省深圳市南山区科苑北18号科兴科学园B2单元1702号</p>
                        </a>
                    </li>


                </ul>

            </div>


        </div>
    </div>
    <div class="alertCM">
        <a class="fr orange_bg br2 f16 tc">确认</a>
        <a class="fr br2 tc" onclick="AlertClose(this)">取消</a>
    </div>

</div>


<div class="Dalert" id="Dalert_tishi">
    <div class="DalertZ"></div>
    <div class="DalertC">

        <div class="DalertCT oh">
            <p class="fl f14">提示</p>
            <i class="icon_s alert_close fr wrong_s" onclick="AlertCloseD(this)"></i>
        </div>
        <div class="DalertCB alertCB_S">
            <p>大哥，你的输入有问题的呢</p>
        </div>

    </div>
</div>
