
@{
    Layout = "../Shared/Main.cshtml";
}
@using Model
@model Model.ProductModel
<script src="~/Scripts/Product/SubmitOrder.js"></script>
<script src="~/Scripts/formValidator/formValidator-4.1.3.js"></script>
<script src="~/Scripts/formValidator/formValidatorRegex.js"></script>
<script type="text/javascript">
    var usedYE = 0;
    $(function() {
        var openId = getCookie("OpenId");
        
        //获取用户信息
        //alert(openId);
        //$("#PayUser").text(getCookie("UserName"));

        $("#probability").text(Math.round(@(1/Model.ProductPrice*100)) + " %概率");

        $("a[name='turnPropbality']").click(function() {
            var num = Math.round($("#portionNum").val());
            var perProp = Math.round(@(1/Model.ProductPrice*100));
            if ($(this).hasClass("minus_s")) {
                if (num > 1) {
                    $("#portionNum").val(num - 1);
                    $("#probability").text(perProp * $("#portionNum").val() + " %概率");
                    $("#needPay").text($("#portionNum").val());
                } else {
                    $("#portionNum").val(0);
                    $("#probability").text(0 + " %概率");
                }
            } else if ($(this).hasClass("plus_s")) {
                $("#portionNum").val(num + 1);
                $("#probability").text(perProp * $("#portionNum").val() + " %概率");
            }
            $("#needPay").text($("#portionNum").val());

            userYE();
            GenerateCode();
        });

        $("#portionNum").change(function() {
            var perProp = Math.round(@(1/Model.ProductPrice*100));
            $("#probability").text(perProp * $("#portionNum").val() + " %概率");
            //$("#needPay").text($("#portionNum").val());
            userYE();
            GenerateCode();
        });

        //提交订单操作
        $("#submitOrder").click(function() {
            //校验填写信息
            if (!$.formValidator.pageIsValid('1'))
                return false;

            $.ajax({
                url: "/Product/GetRestShrimpNum",
                type: "POST",
                data: {periodId:'@Model.PeriodId'},
                success: function(data) {
                    if (data["Succeeded"]) {
                        if (parseInt(data["ResultId"]) < parseInt($("#portionNum").val())) {
                            alert("超出活动购买数量，请刷新页面重新提交！");
                            return false;
                        }
                    }
                }
            });

            var lotterys = $("#txtLotterys").val();
            var tel = "";// $("#txtPhone").val();
            var email ="";// $("#txtMail").val();
            //window.location.href = "/Product/PayOrder?lottery=" + lotterys + "&phone=" + tel + "&email=" + email;
            $.ajax({
                url: "/Product/AddOrder",
                type: "POST",
                data: { lottery: lotterys, phone: tel, email: email, periodId: '@Model.PeriodId', userName: getCookie("UserName"), addr: "", userId: getCookie("UserId"), buyNum: $("#portionNum").val(),usedYE:usedYE },
                //data:{payFee:$("#needPay").val(),userOpenId:getCookie("OpenId")},
                success: function(data) {
                    if (data["Succeeded"]) {
                        window.location.href = "/Product/PayOrder?lottery=" + lotterys + "&phone=" + tel + "&email=" + email + "&needPay=" + $("#needPay").text() + "&userOpenId=" + getCookie("OpenId") + "&orderId=" + data["ResultId"];
                    }
                }
            });
        });


        $("#btnGenerate").click(function() {
            GenerateCode();
        });

        //使用余额支付
        $("#useYE").change(function() {
            userYE();
            @*var ded = Math.round('@ViewBag.UserInfo.AccountBalance');
            var totalPay = Math.round($("#portionNum").val());
            if ($("#useYE").prop("checked")) {
                if (ded >= totalPay) {
                    $("#deduction").text(totalPay);
                    $("#needPay").text(0);
                    usedYE = totalPay;
                } else {
                    $("#deduction").text(ded);
                    $("#needPay").text(totalPay - ded);
                    usedYE = ded;
                }

            } else {
                $("#deduction").text(0);
                $("#needPay").text(totalPay);
                usedYE = 0;
            }*@
        });

        $("#btnEditAddr").click(function() {

            $("#txtRecieverEdit").val($("#receiver").text());
            $("#txtPhoneEdit").val($("#phone").text());
            $("#txtAddrEdit").val($("#address").text());
            $("#txtPostCodeEdit").val($("#postCode").val());
            $("#txtAddrId").val($("#addressId").val());

            AlertDiv('#alert_address_edit');
        });

        $("#btnConfirmAddr").click(function() {
            var chk = $(".addressB").find("input[type='radio']:checked");
            if (chk.length==0) {
                AlertClose("#alert_address");
                return false;
            }
            var addrId = chk.attr("id").substring(3, 1);
            var receiver = chk.parent().find("b").text();
            var phone = chk.parent().find("i[name='phone']").text();
            var addressDesc = chk.parent().find("p[name='addressDesc']").text();

            $("#receiver").text(receiver);
            $("#phone").text(phone);
            $("#address").text(addressDesc);
            $("#addressId").val(addrId);

            AlertClose("#alert_address");
        });

        $("#newAddr").click(function() {
            AlertClose("#alert_address");
            AlertDiv("#alert_address_new");
        });

        $("#btnAddNewAddr").click(function() {
            //校验填写信息
            if (!$.formValidator.pageIsValid('3'))
                return false;

            $.ajax({
                url: "/User/EditAddr",
                type: "POST",
                data: { AddressId: $("#txtAddrIdN").val(), AddressDesc: $("#txtAddrEditN").val(), Receiver: $("#txtRecieverEditN").val(), Phone: $("#txtPhoneEditN").val(), PostCode: $("#txtPostCodeEditN").val(), type: 0, UserID: getCookie("UserId") },
                success: function(data) {

                    AlertClose("#alert_address_new");
                }
            });

            $("#addrList").remove();
            $.ajax({
                url: "/User/GetAddrs",
                type: "POST",
                data: { userId: getCookie("UserId") },
                success: function(data) {

                    var html = '';
                    if (data != null) {
                        html += ' <div class="addressB" id="addrList"> <ul>';
                        $(data).each(function(index) {
                            //alert(data[index].AddressDesc);
                            html += '<li class="white_bg">';
                            html += '   <input type="checkbox" class="fl" id="chk' + data[index].AddressId + '"/>';
                            html += '   <a  class="block">';
                            html += '    <i class="pen_s icon_s pa margin_t15"></i>';
                            html += '     <p class="oh lh25"><b class="fl f16" name="receiver">' + data[index].Receiver + '</b><i class="fr f14"  name="phone">' + data[index].Phone + '</i></p>';
                            html += '   <p class="lh20 gray9"  name="addressDesc">' + data[index].AddressDesc + '</p>';
                            html += '   </a> </li>';

                        });

                        html += ' </ul></div>';
                        $("#addrsMain").append(html);
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {

                }
            });

            AlertDiv('#alert_address');
        });

        GenerateCode();
    });

    function GenerateCode() {
        $.ajax({
            url: "/Product/GetShrimpCode",
            type: "POST",
            data: { periodId: '@Model.PeriodId', codeNum: $("#portionNum").val() },
            success: function(datas) {
                $("#txtLotterys").val(datas);
                $("#txtLotterys").css("color", "#333333");
            }
        });
    }

    function EdidAddress(type) {
        //校验填写信息
        if (!$.formValidator.pageIsValid('2'))
            return false;

        $.ajax({
            url: "/User/EditAddr",
            type: "Post",
            data: { AddressId: $("#txtAddrId").val(), AddressDesc: $("#txtAddrEdit").val(), Receiver: $("#txtRecieverEdit").val(), Phone: $("#txtPhoneEdit").val(), PostCode: $("#txtPostCodeEdit").val(), type: type, UserID: getCookie("UserId") },
            success: function(data) {
                if (data["Succeeded"]) {
                    if (type == 1) {

                        $("#receiver").text($("#txtRecieverEdit").val());
                        $("#phone").text($("#txtPhoneEdit").val());
                        $("#address").text($("#txtAddrEdit").val());
                        $("#postCode").val($("#txtPostCodeEdit").val());


                    } else if (type == 2) {
                        $("#receiver").text("");
                        $("#phone").text("");
                        $("#address").text("");
                        $("#postCode").val("");
                        $("#addressId").val(0);
                    }
                    AlertClose(this);
                }
            }

        });
    }

    function userYE() {
        var ded = Math.round('@ViewBag.UserInfo.AccountBalance');
        var totalPay = Math.round($("#portionNum").val());
        if ($("#useYE").prop("checked")) {
            if (ded >= totalPay) {
                $("#deduction").text(totalPay);
                $("#needPay").text(0);
                usedYE = totalPay;
            } else {
                $("#deduction").text(ded);
                $("#needPay").text(totalPay - ded);
                usedYE = ded;
            }

        } else {
            $("#deduction").text(0);
            $("#needPay").text(totalPay);
            usedYE = 0;
        }
    }


</script>
<script type="text/javascript">
    var restShp=0;
    $(function() {
        restShp=@(Model.ProductPrice - Model.JoinedNum);
        //验证提示
        $.formValidator.initConfig({ validatorGroup: "1", formID: "form1", onError: function() { alert("请查看错误信息"); } });
        $("#portionNum").formValidator({ validatorGroup: "1", onShow: "", onCorrect: "", empty: false }).regexValidator({ regExp: "intege1", dataType: "enum", onError: "整数格式不正确" }).functionValidator({ fun: checkInt });
        //$("#txtMail").formValidator({ validatorGroup: "1", onShow: "", onfocus: "", onCorrect: "", empty: false }).regexValidator({ regExp: "email", dataType: "enum", onError: "email格式不正确" });
        //$("#txtPhone").formValidator({ validatorGroup: "1", onShow: "", onfocus: "", onCorrect: "", empty: true }).functionValidator({ fun: checkPhone }); //.regexValidator({ regExp: "mobile", dataType: "enum", onError: "手机号码格式不正确" });

        $.formValidator.initConfig({ validatorGroup: "2", formID: "form2", onError: function() { alert("请查看错误信息"); } });
        $("#txtPhoneEdit").formValidator({ validatorGroup: "2", onShow: "", onfocus: "", onCorrect: "", empty: false }).regexValidator({ regExp: "mobile", dataType: "enum", onError: "手机号码格式不正确" });
        $("#txtRecieverEdit").formValidator({ validatorGroup: "2", onShow: "", onfocus: "", onCorrect: "", empty: false });
        $("#txtAddrEdit").formValidator({ validatorGroup: "2", onShow: "", onfocus: "", onCorrect: "", empty: false });
        $("#txtPostCodeEdit").formValidator({ validatorGroup: "2", onShow: "", onfocus: "", onCorrect: "", empty: false });

        $.formValidator.initConfig({ validatorGroup: "3", formID: "form3", onError: function() { alert("请查看错误信息"); } });
        $("#txtPhoneEditN").formValidator({ validatorGroup: "3", onShow: "", onfocus: "", onCorrect: "", empty: false }).regexValidator({ regExp: "mobile", dataType: "enum", onError: "手机号码格式不正确" });
        $("#txtRecieverEditN").formValidator({ validatorGroup: "3", onShow: "", onfocus: "", onCorrect: "", empty: false });
        $("#txtAddrEditN").formValidator({ validatorGroup: "3", onShow: "", onfocus: "", onCorrect: "", empty: false });
        $("#txtPostCodeEditN").formValidator({ validatorGroup: "3", onShow: "", onfocus: "", onCorrect: "", empty: false });
    });

    //输入值的校验func
    function checkInt(val, elem) {

        if ($(elem).val() > restShp || $(elem).val() < 0)
            return "虾仔数不能小于0或者超过" + restShp;
        else
            return true;
    }

    function checkPhone(val, elem) {
        if (val == "推荐人手机号（选填）")
            return true;
        else {
            var reg = /^13[0-9]{9}|15[012356789][0-9]{8}|18[012356789][0-9]{8}|147[0-9]{8}$/;
            var r= val.match(reg);
            if (r == null)
                return "手机号码格式不正确";
          
        }
    }

</script>
<div class="mainM">

    <div class="index">
        <ul>
            <li style="margin-bottom:0;">
                <div class="index_T">
                    <a class="pa collection_s  icon_s margin_t5"></a>
                    <a class="block oh">
                        <img src="~/Uploads/CommentPhotos/20151209/img01.jpg" class="fr br4" />
                        <p class="oh">
                            <b class="f18 lh30 h30 block fn oh" id="proName">@Model.ProductName</b>
                            <span class="f14 lh25 block gray6 oh "><em class="fl fsn" id="proPrice">抢购价：@Model.ProductPrice 元</em></span>
                            <span class="f12 lh25 block gray6 oh"><em class="fl fsn" id="proDesc">@Model.ProductDesc</em></span>
                        </p>

                    </a>
                </div>

            </li>
        </ul>
    </div>
    <div class="order_submit">
        <p class="h20 lh20 gray9">*一只虾仔，成就更多可能！</p>
        <ul>
            <li class="white_bg oh f14">
                <span class="fl margin_r10"> 份数</span>
                <a class="minus_s fl icon_s margin_t5 margin_l5" href="#" name="turnPropbality"></a>
                <input type="text" class="fl h20 lh20 tc" value="1" id="portionNum" />
                <a class="plus_s fl icon_s margin_t5" href="#" name="turnPropbality"></a>
                <span class="fr red" id="probability"></span>
            </li>
            <li class="white_bg f14">
                <a class="button orange_bg tc fr gray3_border br4 pa" id="btnGenerate">随机生成</a>
                <input type="text" class="block Ntext h30 lh30" id="txtLotterys"  readonly="readonly"/><input type="hidden" value="虾仔，五位数字" />
            </li>
            @*<li class="white_bg f14"><input type="text" class="block Ntext h30 lh30" id="txtMail" /><input type="hidden" value="联系邮箱，将用于接收项目全部虾仔" /></li>
            <li class="white_bg f14"><input type="text" class="block Ntext h30 lh30" id="txtPhone" /><input type="hidden" value="推荐人手机号（选填）" /></li>*@
            <li class="white_bg oh f14">
                <span class="fl f16">账户余额可支付 @ViewBag.UserInfo.AccountBalance 只</span>
                <input type="checkbox" class="fr h20 lh20 tc" id="useYE"/>
            </li>
        </ul>
        <p class="h20 lh20 red"><div id="portionNumTip"></div><div id="txtMailTip"></div> <div id="txtPhoneTip"></div>  </p>
    </div>

    <div class="addressB" style="display:none">
        <ul>
@{
    var addrs = (List<T_UserAddr>)ViewBag.Addrs;
    var addr = "";
    var addrId = 0;
    var receiver = "";
    var phone = "";
    var postCode = "";
    if (addrs.Count > 0)
    {
        addr = addrs[0].AddressDesc;
        addrId = addrs[0].AddressId;
        receiver = addrs[0].Receiver;
        phone = addrs[0].Phone;
        postCode = addrs[0].PostCode;

        <li class="white_bg">
            <a class="block" id="btnEditAddr">
                <i class="pen_s icon_s pa margin_t15"></i>
                <p class="oh lh25">
                    <b class="fl f16" id="receiver">@receiver</b><i class="fr f14" id="phone">@phone</i>
                </p>
                <p class="lh20 gray9" id="address">@addr</p>
            </a>
            <input type="text" value="@postCode" id="postCode" style="display: none" />
            <input type="text" value="@addrId" id="addressId" style="display:none" />
        </li>
    }

}
        </ul>

    </div>
    <div class="addressT white_bg"  style="display:none">
        <a class="oh block"  id="alertRevAddrs"><i class="plus_s fl icon_s margin_r10"></i><span class="fl f14 lh20">收货地址(选填)</span></a>
    </div>
    <div class="pf pay white_bg">
        <p class="fl gray9 f12">已抵扣￥</p>
        <p class="fl gray9 f12" id="deduction">0</p>
        <a class="orange_bg tc fr f16" id="submitOrder">提交订单</a>
        <p class="fr f18 red" id="needPay">1</p>
        <p class="fr gray6 f14">待支付￥</p>
    </div>
</div>
<div class="alert" id="alert_address_edit">
    <div class="mainM address">
        <div class="order_submit">
            <ul>
                <li class="white_bg"><input type="text" class="block Ntext h30 lh30" id="txtRecieverEdit"/><input type="hidden" value="收货人姓名"/></li>
                <li class="white_bg"><input type="text" class="block Ntext h30 lh30" id="txtPhoneEdit"/><input type="hidden" value="手机号码"/></li>

                <li class="white_bg"><input type="text" class="block Ntext h30 lh30" id="txtAddrEdit"/><input type="hidden" value="详细地址"/></li>
                <li class="white_bg"><input type="text" class="block Ntext h30 lh30" id="txtPostCodeEdit"/><input type="hidden" value="邮政编码"/></li>
               
            </ul>
            <p class="h20 lh20 red"><div id="txtPhoneEditTip"></div><div id="txtRecieverEditTip"></div><div id="txtAddrEditTip"></div><div id="txtPostCodeEditTip"></div></p>
            <input type="text" style="display:none" id="txtAddrId"/>
        </div>

        <div class="mineB">
            <ul class="white_bg">
                <li>
                    <a onclick="EdidAddress(1)" class="oh block">
                        <i class="right_s icon_s fl margin_r10"></i>
                        <p class="fl f16">保存修改</p>
                    </a>
                </li>
                <li>
                    <a onclick="EdidAddress(2)" class="oh block">
                        <i class="wrong_s icon_s fl margin_r10"></i>
                        <p class="fl f16">删除此地址</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    
    </div>

<div class="alert" id="alert_address_new">
    <div class="mainM address">
        <div class="order_submit">
            <ul>
                <li class="white_bg"><input type="text" class="block Ntext h30 lh30" id="txtRecieverEditN" /><input type="hidden" value="收货人姓名" /></li>
                <li class="white_bg"><input type="text" class="block Ntext h30 lh30" id="txtPhoneEditN" /><input type="hidden" value="手机号码" /></li>

                <li class="white_bg"><input type="text" class="block Ntext h30 lh30" id="txtAddrEditN" /><input type="hidden" value="详细地址" /></li>
                <li class="white_bg"><input type="text" class="block Ntext h30 lh30" id="txtPostCodeEditN" /><input type="hidden" value="邮政编码" /></li>

            </ul>
            <p class="h20 lh20 red"><div id="txtPhoneEditNTip"></div><div id="txtRecieverEditNTip"></div><div id="txtAddrEditNTip"></div><div id="txtPostCodeEditNTip"></div></p>
            <input type="text" style="display:none" id="txtAddrIdN" />
        </div>

        <div class="mineB">
            <ul class="white_bg">
                <li>
                    <a  id="btnAddNewAddr" class="oh block">
                        <i class="right_s icon_s fl margin_r10"></i>
                        <p class="fl f16">保存修改</p>
                    </a>
                </li>
                @*<li>
                    <a onclick="EdidAddress(2)" class="oh block">
                        <i class="wrong_s icon_s fl margin_r10"></i>
                        <p class="fl f16">删除此地址</p>
                    </a>
                </li>*@

            </ul>
        </div>
    </div>

</div>
<div class="alert" id="alert_address">

        <div class="alertCT oh">
            <p class="fl f16">选择地址</p>
            <i class="icon alert_close fr wrong" onclick="AlertClose(this)"></i>
        </div>
        <div class="alertCB">
            <div class="address" id="addrsMain">
                <div class="addressT white_bg">
                    <a id="newAddr" class="oh block"><i class="plus_s fl icon_s margin_r10"></i><span class="fl f16 lh20">新增地址</span></a>
                </div>
                <div class="addressB" id="addrList">
                    
                </div>


            </div>
        </div>
        <div class="alertCM">
            <a class="fr orange_bg br2 f16 tc" id="btnConfirmAddr">确认</a>
            <a class="fr br2 tc" onclick="AlertClose(this)">取消</a>
        </div>

    </div>


    <div class="Dalert" id="Dalert_tishi">
        <div class="DalertZ"></div>
        <div class="DalertC">

            <div class="DalertCT oh">
                <p class="fl f14">提示</p>
                <i class="icon_s alert_close fr wrong_s" onclick="AlertCloseD(this)"></i>
            </div>
            <div class="DalertCB alertCB_S">
                <p>大哥，你的输入有问题的呢</p>
            </div>

        </div>
    </div>
